### macOS ###
# General
.DS_Store
.AppleDouble
.LSOverride

### Xcode ###
## User settings
xcuserdata/
*.pbxuser

## Build generated
DerivedData/

## Other
*.moved-aside
*.xccheckout
*.xcscmblueprint
Projects/.module-interfaces/

## Obj-C/Swift specific
*.hmap
*.ipa

# Swift Package Manager
#
.build/
.swiftpm

## Config
*.xcconfig
